@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/steps.css");
@import url("styles/about.css");
@import url("styles/volunteers.css");
@import url("styles/adopt.css");
@import url("styles/footer.css");
@import url("styles/contact.css");

:root {
  --dark: #36392e;
  --green: #75a342;
  --white: #fefefe;
}

body {
  font-family: "Poppins", sans-serif;
}
