.adopt {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adopt__titulo {
  font-weight: 700;
  font-size: 24px;
  color: var(--dark);
  text-align: center;
}

.adopt__texto,
.adopt__texto-click {
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark);
  text-align: center;
  width: 90%;
}

.adopt__img-insta {
  width: 50%;
  margin: 1.5rem 25% 0 25%;
}

.adopt__img-final {
  margin: 1.5rem 0 1.5rem 0;
  width: 80%;
}

@media only screen and (min-width: 1024px) {
  .adopt__img-final {
    margin: 1.5rem 0 1.5rem 0;
    width: 40%;
  }
}
