.form {
  padding: 5em;
}

.form__about {
  margin-top: 1em;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark);
}

.form__queries {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-top: 1em;
}
