.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: var(--green);
}

.header__btn:hover {
  cursor: pointer;
}

.header__nav-item {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header__btn {
    display: none;
  }

  .header__nav {
    display: flex;
    width: 400px;
    justify-content: space-around;
  }

  .header__nav-item {
    display: flex;
  }

  .header__nav-item a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 700;
    font-size: 18px;
  }
}
