.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: var(--green);
}

.header__nav-item {
  display: flex;
  justify-content: space-between;
}

.header__nav-item a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  font-size: 18px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
}

@media only screen and (min-width: 1024px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
  }
}
