.volunteers {
  margin-top: 4rem;
}

.volunteers__titulo {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 2rem;
}

.swiper {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.swiper-slide img {
  width: 70%;
}

.swiper-slide p {
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .swiper {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }

  .swiper-slide img {
    width: 50%;
    height: 50%;
  }
}
